body {
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    padding: 0 20px;
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #E1EDE6;
    padding: 33px 0 32px 0;
    width: 1440px;
    max-width: 100%;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-logo-text {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}

.header-list-link {
    text-decoration: none;
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.hero {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.bird-png {
    flex: 0 1 540px;
    width: 100%;
    max-width: 540px;
    min-width: 0;
    height: auto;
    object-fit: contain;
}

.hero-right {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    gap: 60px;
}

.hero-right-top {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title {
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
}

.hero-title .bold-text {
    color: #598D66;
}

.hero-text {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.hero-button {
    border: 1px solid #598D66;
    background-color: white;
    padding: 20px 60px;
}

.hero-button-text {
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.catalog-top {
    display: flex;
    justify-content: space-between;
}

.catalog-title {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
}

.catalog-top-left {
    display: flex;
    gap: 32px;
}

.catalog-top-button {
    border: none;
    border-radius: 20px;
    background: #D4E8D9;
    padding: 10px 20px;
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.active-button {
    background: #376B44;
    color: white;
}

.catalog-body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: calc((100% - 60px) / 3);
    box-sizing: border-box;
    background-color: #E1EDE6;
}

.card-body {
    width: 100%;
    height: 100%;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    gap: 20px;
}

.card-img {
    width: 100%;
}

.card-author {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-name {
    color: #2C2D35;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}

.card-description {
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
}

.card-price {
    color: #598D66;
    font-size: 24px;
    font-weight: 500;
}

.card-button {
    border: 1px solid #598D66;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    flex-shrink: 1;
    background-color: #E1EDE6;
}

.promo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    background-image: url("../image/promo-background.png");
    height: 500px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.promo-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 70px;
    padding-top: 70px;
}

.promo-bottom {
    padding: 0 70px;
}

.promo-title-container {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 501px;
}

.promo-text-container {
    max-width: 540px;
}

.promo-title-text {
    color: #F4F6F5;
    font-size: 40px;
    font-weight: 500;
}

.promo-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.promo-button {
    background: #EEDB6D;
    padding: 20px 60px;
    color: #2C2D35;
    border: none;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 70px;
}

.team-img {
    flex: 0 1 445px;
    width: 100%;
    max-width: 445px;
    height: auto;
    object-fit: contain;
}

.team-right {
    display: flex;
    flex-shrink: 2;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    padding-top: 30px;
}

.team-title {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
}

.team-text {
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.team-avatars {
    display: flex;
    gap: 30px;
}

