@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway-Regular.woff2);
    font-weight: normal;
    font-size: medium;
}

body {
    box-sizing: border-box;
    font-family: Raleway;
}

.container {
    padding: 0 165px;
}

.header {
    background-color: #E1EDE6;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 33px 0px 32px 0px;
}

.header_logo {
    width: 35px;
    height: 35px;
}

.header_logo_name {
    color: #598D66;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.nav_list_elem_link {
    text-decoration: none;
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.header_shop_icon {
    width: 22px;
    height: 22px;
}

.hero_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero_img {
    width: 540px;
    height: 621px;
}

.hero_title {
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.hero_title_text {
    color: #598D66;
}

.hero_text {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px 60px 0px ;
}

.hero_button {
    display: flex;
    border: 1px solid #598D66;
    color: #598D66;
    background-color: white;
    cursor: pointer;
}

.hover_button:hover {
    color: white;
    background-color: #598D66;
}

.hero_button_text {
    padding: 20px 60px;
    font-weight: 500;
    font-size: 20px;
}

.shopping_section {
    margin: 70px 0;
}

.shopping_section_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping_section_title {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
}

.shopping_section_head_list {
    display: flex;
    gap: 32px;
}

.shopping_section_head_list_elem {
    list-style: none;
}

.shopping_section_head_button {
    display: flex;
    border: 0;
    border-radius: 20px;
    background-color: #D4E8D9;
}

.shopping_section_head_button_text {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.shopping_section_body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.shopping_section_card {
    display: flex;
    flex-direction: column;
    background-color: #E1EDE6;
    padding: 20px 20px 30px 20px;
}

.card_img {
    width: 310px;
    height: 422px;
}

.card_author {
    margin: 20px 0px 10px 0px;
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
}

.card_name {
    margin: 0 0 8px 0;
    color: #2C2D35;
    font-size: 30px;
    font-weight: 500;
}

.card_description {
    margin-bottom: 30px;
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
}

.card_price {
    margin-bottom: 20px;
    color: #598D66;
    font-size: 24px;
    font-weight: 500;
}

.card_button {
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #598D66;
    background-color: #E1EDE6;
    cursor: pointer;
}

.card_button_text {
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
}

.promo_section {
    margin-bottom: 70px;
    background-image: url(image/promo_section_background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
}

.promo_section_top {
    display: flex;
    gap: 20px;
}

.promo_section_logo {
    width: 80px;
    height: 80px;
}

.promo_section_title {
    color: #F4F6F5;
    font-size: 40px;
    font-weight: 500;
}

.promo_section_text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.promo_section_button {
    border: none;
    padding: 20px 60px;
    background-color: #EEDB6D;
}

.promo_section_button_text {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}