@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway-Regular.woff2);
    font-weight: normal;
    font-size: medium;
}

body {
    box-sizing: border-box;
    font-family: Raleway;
}

.container {
    padding: 0 165px;
}

.header {
    background-color: #E1EDE6;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 33px 0px 32px 0px;
}

.header_logo {
    width: 35px;
    height: 35px;
}

.header_logo_name {
    color: #598D66;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.nav_list_elem_link {
    text-decoration: none;
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.header_shop_icon {
    width: 22px;
    height: 22px;
}

.hero_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero_img {
    width: 540px;
    height: 621px;
}

.hero_title {
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.hero_title_text {
    color: #598D66;
}

.hero_text {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px 60px 0px ;
}

.hero_button {
    display: flex;
    border: 1px solid #598D66;
    color: #598D66;
    background-color: white;
    cursor: pointer;
}

.hero_button:hover {
    color: white;
    background-color: #598D66;
}

.hero_button_text {
    padding: 20px 60px;
    font-weight: 500;
    font-size: 20px;
}